Node-red/flows (9).json
[
    {
        "id": "1da06d148955f0fc",
        "type": "tab",
        "label": "Upload parameters",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0fe68850651df846",
        "type": "tab",
        "label": "Control parameters",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94b1d1e676d2e1db",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "menu",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e06212c573b63dfd",
        "type": "ui_tab",
        "name": "OVERVIEW PC",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c7eb00efaec834c3",
        "type": "ui_group",
        "name": "Parameters",
        "tab": "e06212c573b63dfd",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b7a1b36df531f1c",
        "type": "remote-config",
        "name": "Node-RED UI PC",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "o5hogfpjd940q5fbo4zu0cmp30i43wg5zo23kysale06gkswmetihpn3jskgw5om",
        "server": "nodered04.remote-red.com",
        "region": "de"
    },
    {
        "id": "d0d69dcb17d81c2d",
        "type": "ui_tab",
        "name": "DEVICE VIEW",
        "icon": "dashboard",
        "order": 2,
        "disabled": true,
        "hidden": false
    },
    {
        "id": "258e13cc46e8ac80",
        "type": "ui_group",
        "name": "ESP32 CAM",
        "tab": "d0d69dcb17d81c2d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58bb7fb23410af76",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "192.168.0.6",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5a44aa61b722a96b",
        "type": "ui_tab",
        "name": "STATS PC",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "41995a87aafb92d4",
        "type": "ui_group",
        "name": "Stats",
        "tab": "5a44aa61b722a96b",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cec4f690b4ec2ca0",
        "type": "ui_tab",
        "name": "OVERVIEW smartphone",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c885ce5f4846fb6b",
        "type": "ui_group",
        "name": "Parameters",
        "tab": "cec4f690b4ec2ca0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6ec5df893f2ce4e",
        "type": "ui_tab",
        "name": "STATS smartphone",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "20d5161a0801cb9c",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "258e13cc46e8ac80",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "58d63b170ad640c4",
        "type": "telegrambot-config",
        "botname": "HydroponicsDavid_bot",
        "usernames": "",
        "chatIds": "-941871072",
        "pollInterval": "300"
    },
    {
        "id": "810fd542e591f086",
        "type": "ui_tab",
        "name": "Remote control",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d4a51458f51a6e9c",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "babd4c5bf65e8d82",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "b96dcff0c6bfe0c2",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "4a06a9bdc607bdab",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "48d9234bf6218ca2",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "71f928ce2074295f",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "921182b2ce386487",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "88d72d5d04d9f1d5",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "67181efae88195c8",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "0a4a9928e36c0b83",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "92797f4c7acdb175",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "92972c1429aba4fa",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "d7be9ec5a50209c0",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "ede307f78a39a413",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "983f27b4e4e21aca",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "75631537e48d24f7",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "aadd1c9aa0d87e0d",
        "type": "ncd-comm",
        "name": "RaspberryPI",
        "bus": "_manual",
        "busManual": "",
        "commType": "standard",
        "addr": "0",
        "useMux": false,
        "muxAddr": "112",
        "muxPort": "0"
    },
    {
        "id": "72495bb20cbdebd3",
        "type": "ui_tab",
        "name": "Consumption",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb4e8684458e5209",
        "type": "ui_group",
        "name": "Consumption",
        "tab": "72495bb20cbdebd3",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fbd53981d3278821",
        "type": "ui_group",
        "name": "Stats Smartphone",
        "tab": "d6ec5df893f2ce4e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d04a4a2c7d1dcac7",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "c7eb00efaec834c3",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "79c07e3f7c3d46b4",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "c7eb00efaec834c3",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "8d6c17e161eedad9",
        "type": "ui_spacer",
        "z": "1da06d148955f0fc",
        "name": "spacer",
        "group": "c7eb00efaec834c3",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "224b0f1a.2f47a",
        "type": "ui_group",
        "name": "Settings",
        "tab": "6f11043f.36ff8c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "52093b60.096bf4",
        "type": "ui_group",
        "name": "Img",
        "tab": "6f11043f.36ff8c",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "6f11043f.36ff8c",
        "type": "ui_tab",
        "name": "Cam",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d9e398d4.2dc738",
        "type": "ui_group",
        "name": "groov RIO",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "26",
        "collapse": false
    },
    {
        "id": "0a5846191e909353",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "",
        "group": "c7eb00efaec834c3",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "pH",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#ff0000",
            "#00e639",
            "#ff0000"
        ],
        "seg1": "5.5",
        "seg2": "5.8",
        "className": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "1e5f41cba2175ab5",
        "type": "remote-access",
        "z": "1da06d148955f0fc",
        "confignode": "7b7a1b36df531f1c",
        "name": "",
        "verbose": 0,
        "x": 200,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "36652a968f256a0a",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "pH",
        "topic": "Hydroponic/pH",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "0a5846191e909353",
                "e6bc8ecd715fa30a"
            ]
        ]
    },
    {
        "id": "dd2a24eb751c4a39",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "Weather Temperature",
        "topic": "Hydroponic/Weather_temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 600,
        "wires": [
            [
                "b0420fd9e29e5d29",
                "38bdc73d2cf9f864",
                "07d600c60e672376",
                "d4ff750bb9bb4ae0"
            ]
        ]
    },
    {
        "id": "f280ee20e769a488",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "Humidity",
        "topic": "Hydroponic/Humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "13f5eb80bb6111a9",
                "533a089a9413ced5",
                "90b5bae72bbd9be9",
                "e433aa5a47577f07"
            ]
        ]
    },
    {
        "id": "b0420fd9e29e5d29",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Weather Temperature",
        "group": "c7eb00efaec834c3",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Weather Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "13f5eb80bb6111a9",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Humidity",
        "group": "c7eb00efaec834c3",
        "order": 13,
        "width": 4,
        "height": 3,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "b66f637c759fb025",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "Tank Level",
        "topic": "Hydroponic/Tank_level",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 900,
        "wires": [
            [
                "acea1ff846d9efea",
                "c8f10a0266913698",
                "5ea9ba824224e7f3",
                "d972a83cae3e2f47"
            ]
        ]
    },
    {
        "id": "8badc16c63d5e29a",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "Nutrient Tank Level",
        "topic": "Hydroponic/Nutrient_tank_level",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1080,
        "wires": [
            [
                "1574dc194e4dcadf",
                "e4edf72a6d9f0705"
            ]
        ]
    },
    {
        "id": "60b328e28fe40f1a",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Water Flow",
        "group": "c7eb00efaec834c3",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Water Flow",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 760,
        "wires": []
    },
    {
        "id": "e6bc8ecd715fa30a",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "pH Record",
        "group": "41995a87aafb92d4",
        "order": 1,
        "width": 20,
        "height": 4,
        "label": "pH Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "14",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "38bdc73d2cf9f864",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Weather Temperature Record",
        "group": "41995a87aafb92d4",
        "order": 3,
        "width": 20,
        "height": 4,
        "label": "Weather Temperature Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "70",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "533a089a9413ced5",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Humidity Record",
        "group": "41995a87aafb92d4",
        "order": 5,
        "width": 20,
        "height": 4,
        "label": "Humidity Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "acea1ff846d9efea",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Tank Level Record",
        "group": "41995a87aafb92d4",
        "order": 6,
        "width": 20,
        "height": 4,
        "label": "Tank Level Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "a95e2ad103aa7ba9",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "TDS",
        "group": "c7eb00efaec834c3",
        "order": 12,
        "width": 4,
        "height": 3,
        "gtype": "compass",
        "title": "TDS",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#b30000",
            "#00e639",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "8",
        "className": "",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "2e5350cba15d850b",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "TDS",
        "topic": "Hydroponic/TDS",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 360,
        "wires": [
            [
                "a95e2ad103aa7ba9",
                "9d4a548f64fa3458",
                "3e3423752da15566",
                "fa6fbc9cbaace2e7"
            ]
        ]
    },
    {
        "id": "9d4a548f64fa3458",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "TDS Record",
        "group": "41995a87aafb92d4",
        "order": 2,
        "width": 20,
        "height": 4,
        "label": "TDS Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3f306121f52f82cc",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "Water Temperature",
        "topic": "Hydroponic/Water_temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 480,
        "wires": [
            [
                "220ee3ff85b6d4eb",
                "56decafca047f1bd",
                "b1d3ad41b4757db9",
                "f04ebe050e23536b"
            ]
        ]
    },
    {
        "id": "220ee3ff85b6d4eb",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Water Temperature",
        "group": "c7eb00efaec834c3",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Water Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#fa0000",
            "#00fa00",
            "#fa0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "className": "",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "56decafca047f1bd",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Water Temperature Record",
        "group": "41995a87aafb92d4",
        "order": 4,
        "width": 20,
        "height": 4,
        "label": "Water Temperature Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "70",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1574dc194e4dcadf",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Nutrient Tank Level",
        "group": "c7eb00efaec834c3",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Nutrient Tank Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 530,
        "y": 1060,
        "wires": []
    },
    {
        "id": "c8f10a0266913698",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Water Tank Level",
        "group": "c7eb00efaec834c3",
        "order": 5,
        "width": 8,
        "height": 12,
        "gtype": "wave",
        "title": "Water Tank Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 490,
        "y": 860,
        "wires": []
    },
    {
        "id": "d4ff750bb9bb4ae0",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Weather Temperature",
        "group": "c885ce5f4846fb6b",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "donut",
        "title": "Weather Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 660,
        "wires": []
    },
    {
        "id": "e433aa5a47577f07",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Humidity",
        "group": "c885ce5f4846fb6b",
        "order": 9,
        "width": 3,
        "height": 3,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 820,
        "y": 760,
        "wires": []
    },
    {
        "id": "46fbc4eb5e014368",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Water Flow",
        "group": "c885ce5f4846fb6b",
        "order": 8,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Water Flow",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 800,
        "wires": []
    },
    {
        "id": "07d600c60e672376",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Weather Temperature Record",
        "group": "fbd53981d3278821",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Weather Temperature Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "70",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "90b5bae72bbd9be9",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Humidity Record",
        "group": "fbd53981d3278821",
        "order": 4,
        "width": 6,
        "height": 4,
        "label": "Humidity Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d972a83cae3e2f47",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Tank Level Record",
        "group": "fbd53981d3278821",
        "order": 5,
        "width": 6,
        "height": 4,
        "label": "Tank Level Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "fa6fbc9cbaace2e7",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "TDS",
        "group": "c885ce5f4846fb6b",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "TDS",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#b30000",
            "#00e639",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "8",
        "className": "",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "3e3423752da15566",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "TDS Record",
        "group": "fbd53981d3278821",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "TDS Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f04ebe050e23536b",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Water Temperature",
        "group": "c885ce5f4846fb6b",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Water Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#fa0000",
            "#00fa00",
            "#fa0000"
        ],
        "seg1": "15",
        "seg2": "25",
        "className": "",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "b1d3ad41b4757db9",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Water Temperature Record",
        "group": "fbd53981d3278821",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Water Temperature Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "70",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e4edf72a6d9f0705",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Nutrient Tank Level",
        "group": "c885ce5f4846fb6b",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Nutrient Tank Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 530,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5ea9ba824224e7f3",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Water Tank Level",
        "group": "c885ce5f4846fb6b",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Water Tank Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 850,
        "y": 920,
        "wires": []
    },
    {
        "id": "97b3b6bbc22934f0",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "pH Elevator Tank Level",
        "topic": "Hydroponic/pH_elevator_tank_level",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 1180,
        "wires": [
            [
                "391dd79891c20af3",
                "0d84795379390f4b"
            ]
        ]
    },
    {
        "id": "e9c14774e07a1001",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "pH Reductor Tank Level",
        "topic": "Hydroponic/pH_reductor_tank_level",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 1280,
        "wires": [
            [
                "c8e8dd7b731275a0",
                "77c2024e456e1d33"
            ]
        ]
    },
    {
        "id": "391dd79891c20af3",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "pH Elevator Tank Level",
        "group": "c7eb00efaec834c3",
        "order": 9,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "pH Elevator Tank Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "0d84795379390f4b",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "pH ElevatorTank Level",
        "group": "c885ce5f4846fb6b",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "pH Elevator Tank Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 540,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c8e8dd7b731275a0",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "pH Reductor Tank Level",
        "group": "c7eb00efaec834c3",
        "order": 4,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "pH Redcutor Tank Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 1260,
        "wires": []
    },
    {
        "id": "77c2024e456e1d33",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Nutrient Tank Level",
        "group": "c885ce5f4846fb6b",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Nutrient Tank Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 530,
        "y": 1300,
        "wires": []
    },
    {
        "id": "590d08d4649941ea",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "Water Flow",
        "topic": "Hydroponic/Water_flow",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 800,
        "wires": [
            [
                "60b328e28fe40f1a",
                "46fbc4eb5e014368"
            ]
        ]
    },
    {
        "id": "3860cd2cf146c3e1",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "",
        "topic": "Hydroponic/Water_Uppered",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1520,
        "wires": [
            [
                "725bc9fa1f5301d9",
                "d61997e16d74df15",
                "00eed3eb5d3b6762"
            ]
        ]
    },
    {
        "id": "ab98b6d0048c1f6e",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "",
        "topic": "Hydroponic/pH_Decreased",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1580,
        "wires": [
            [
                "725bc9fa1f5301d9",
                "d61997e16d74df15",
                "6efe9856821ca0f3"
            ]
        ]
    },
    {
        "id": "3ea69366ab36fb23",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "",
        "topic": "Hydroponic/pH_Uppered",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 1640,
        "wires": [
            [
                "725bc9fa1f5301d9",
                "d61997e16d74df15",
                "655eb86fdfe1622a"
            ]
        ]
    },
    {
        "id": "e38a85d1111b0ab1",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "",
        "topic": "Hydroponics/Nutrient_Uppered",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 1700,
        "wires": [
            [
                "725bc9fa1f5301d9",
                "d61997e16d74df15",
                "d21449f1516fe9f8"
            ]
        ]
    },
    {
        "id": "d61997e16d74df15",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Regulations Record",
        "group": "41995a87aafb92d4",
        "order": 9,
        "width": 20,
        "height": 4,
        "label": "Regulation Record",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "725bc9fa1f5301d9",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Regulations Record",
        "group": "fbd53981d3278821",
        "order": 8,
        "width": 6,
        "height": 4,
        "label": "Regulations Record",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "6efe9856821ca0f3",
        "type": "telegrambot-notify",
        "z": "1da06d148955f0fc",
        "name": "Chat",
        "bot": "58d63b170ad640c4",
        "chatId": "-941871072",
        "message": "pH decreased",
        "parseMode": "",
        "x": 670,
        "y": 1520,
        "wires": []
    },
    {
        "id": "655eb86fdfe1622a",
        "type": "telegrambot-notify",
        "z": "1da06d148955f0fc",
        "name": "Chat",
        "bot": "58d63b170ad640c4",
        "chatId": "-941871072",
        "message": "pH increased",
        "parseMode": "",
        "x": 670,
        "y": 1700,
        "wires": []
    },
    {
        "id": "00eed3eb5d3b6762",
        "type": "telegrambot-notify",
        "z": "1da06d148955f0fc",
        "name": "Chat",
        "bot": "58d63b170ad640c4",
        "chatId": "-941871072",
        "message": "Water increased",
        "parseMode": "",
        "x": 510,
        "y": 1500,
        "wires": []
    },
    {
        "id": "d21449f1516fe9f8",
        "type": "telegrambot-notify",
        "z": "1da06d148955f0fc",
        "name": "Chat",
        "bot": "58d63b170ad640c4",
        "chatId": "-941871072",
        "message": "Nutrient solution increased",
        "parseMode": "",
        "x": 510,
        "y": 1720,
        "wires": []
    },
    {
        "id": "d28c682104293998",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Volatage",
        "group": "bb4e8684458e5209",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "compass",
        "title": "Voltage",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 1840,
        "wires": []
    },
    {
        "id": "e0686054be7ef92b",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Load Consumption",
        "group": "bb4e8684458e5209",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Load Consumption",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 1960,
        "wires": []
    },
    {
        "id": "1f4125179bb7da98",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Voltage",
        "group": "bb4e8684458e5209",
        "order": 4,
        "width": 12,
        "height": 4,
        "label": "Voltage ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 600,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "a32a3a3f034b5d9d",
        "type": "ui_gauge",
        "z": "1da06d148955f0fc",
        "name": "Power Panel",
        "group": "bb4e8684458e5209",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "wave",
        "title": "Power Panel",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 2060,
        "wires": []
    },
    {
        "id": "ddf62b40994876c3",
        "type": "ui_chart",
        "z": "1da06d148955f0fc",
        "name": "Load Consumption",
        "group": "bb4e8684458e5209",
        "order": 5,
        "width": 12,
        "height": 4,
        "label": "Load Consumption",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "9920dfd08b240156",
        "type": "function",
        "z": "1da06d148955f0fc",
        "name": "Voltage Global",
        "func": "var volts = (25*(msg.payload[0]/ 1000))/6.144;\nvar current_load =(msg.payload[1]/ 1000 - 2.5) / 0.066 ;\nvar current_panel = (msg.payload[2] / 1000 - 2.5) / 0.066;\nvar msg1 = { payload: Math.round(volts), topic: \"VOLTAGE\"};\nvar msg2 = { payload: Math.round(volts * current_load), topic: \"LOAD\"};\nvar msg3 = { payload: Math.round(volts * current_panel), topic: \"SOLAR PANEL\"};\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1980,
        "wires": [
            [
                "1f4125179bb7da98",
                "d28c682104293998"
            ],
            [
                "e0686054be7ef92b",
                "ddf62b40994876c3"
            ],
            [
                "ddf62b40994876c3",
                "a32a3a3f034b5d9d"
            ]
        ]
    },
    {
        "id": "b22a62dd2471e2d2",
        "type": "ads1115-m",
        "z": "1da06d148955f0fc",
        "name": "Voltage",
        "devadr": "0",
        "rate": "4",
        "gain0": "2",
        "gain1": "2",
        "gain2": "2",
        "gain3": "2",
        "tupdate": 1000,
        "onchange": true,
        "rawdata": false,
        "x": 110,
        "y": 1980,
        "wires": [
            [
                "9920dfd08b240156"
            ]
        ]
    },
    {
        "id": "51b2b94668a31d49",
        "type": "mqtt in",
        "z": "1da06d148955f0fc",
        "name": "",
        "topic": "Picture",
        "qos": "0",
        "datatype": "auto",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 110,
        "y": 1820,
        "wires": [
            [
                "965a27685ac68744",
                "bbcebf88a943fdd6"
            ]
        ]
    },
    {
        "id": "6967a7fb0ad03b41",
        "type": "mqtt out",
        "z": "1da06d148955f0fc",
        "name": "",
        "topic": "TakeAPicture",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58bb7fb23410af76",
        "x": 350,
        "y": 2430,
        "wires": []
    },
    {
        "id": "4ea1351ffd413f68",
        "type": "inject",
        "z": "1da06d148955f0fc",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 2390,
        "wires": [
            [
                "6967a7fb0ad03b41"
            ]
        ]
    },
    {
        "id": "bbcebf88a943fdd6",
        "type": "image",
        "z": "1da06d148955f0fc",
        "name": "",
        "width": "900",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": false,
        "pass": false,
        "outputs": 0,
        "x": 290,
        "y": 1860,
        "wires": []
    },
    {
        "id": "965a27685ac68744",
        "type": "base64",
        "z": "1da06d148955f0fc",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 270,
        "y": 1820,
        "wires": [
            [
                "e47d68f32cb5c1a6"
            ]
        ]
    },
    {
        "id": "e47d68f32cb5c1a6",
        "type": "ui_template",
        "z": "1da06d148955f0fc",
        "group": "52093b60.096bf4",
        "name": "Image",
        "order": 1,
        "width": 10,
        "height": 8,
        "format": "<img height=\"100%\" src=\"data:image/jpeg;base64,{{msg.payload}}\" style=\"transform: rotate(90deg);\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "6746238da4f7c7a3",
        "type": "ui_button",
        "z": "1da06d148955f0fc",
        "name": "",
        "group": "224b0f1a.2f47a",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Capture",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 2430,
        "wires": [
            [
                "6967a7fb0ad03b41"
            ]
        ]
    },
    {
        "id": "06585628cdac3ef8",
        "type": "function",
        "z": "1da06d148955f0fc",
        "d": true,
        "name": "function 1",
        "func": "var valueArray = [];\n\nvalueArray[0]= 5000;\nvalueArray[1] = 8000;\nvalueArray[2] = 5000;\nvalueArray[3] = 0;\n\nmsg.payload= valueArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "dfb064a37265f896",
        "type": "inject",
        "z": "1da06d148955f0fc",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 70,
        "y": 2120,
        "wires": [
            [
                "06585628cdac3ef8"
            ]
        ]
    },
    {
        "id": "0d11a64d713b4668",
        "type": "mqtt out",
        "z": "0fe68850651df846",
        "name": "",
        "topic": "Hydroponic/Water_pump_fdbk",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58bb7fb23410af76",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "3828187558015d84",
        "type": "ui_switch",
        "z": "0fe68850651df846",
        "name": "",
        "label": "Water pump",
        "tooltip": "",
        "group": "c7eb00efaec834c3",
        "order": 17,
        "width": 4,
        "height": 3,
        "passthru": true,
        "decouple": "false",
        "topic": "Status",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "0d11a64d713b4668"
            ]
        ]
    },
    {
        "id": "78eb8b80944e1681",
        "type": "mqtt in",
        "z": "0fe68850651df846",
        "name": "",
        "topic": "Hydroponic/Water_pump",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "58bb7fb23410af76",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "3828187558015d84"
            ]
        ]
    },
    {
        "id": "e0f1d5ca138a5c1a",
        "type": "ui_button",
        "z": "0fe68850651df846",
        "name": "",
        "group": "c7eb00efaec834c3",
        "order": 16,
        "width": 4,
        "height": 3,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "b01a776f09965d63"
            ]
        ]
    },
    {
        "id": "b01a776f09965d63",
        "type": "mqtt out",
        "z": "0fe68850651df846",
        "name": "",
        "topic": "Hydroponic/Update_petition",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58bb7fb23410af76",
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "6fc6e7d9dc349f3c",
        "type": "ui_button",
        "z": "0fe68850651df846",
        "name": "",
        "group": "c885ce5f4846fb6b",
        "order": 10,
        "width": 3,
        "height": 3,
        "passthru": false,
        "label": "Update",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "b01a776f09965d63"
            ]
        ]
    },
    {
        "id": "a572932ed6052fbf",
        "type": "ui_button",
        "z": "0fe68850651df846",
        "name": "",
        "group": "c7eb00efaec834c3",
        "order": 15,
        "width": 4,
        "height": 3,
        "passthru": false,
        "label": "Increase pH",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 730,
        "y": 260,
        "wires": [
            [
                "56f423d38d62875b"
            ]
        ]
    },
    {
        "id": "4b48a6694c657bd9",
        "type": "ui_button",
        "z": "0fe68850651df846",
        "name": "",
        "group": "c7eb00efaec834c3",
        "order": 19,
        "width": 4,
        "height": 3,
        "passthru": false,
        "label": "Decrease pH",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 730,
        "y": 380,
        "wires": [
            [
                "f9a6009939264cbe"
            ]
        ]
    },
    {
        "id": "f22481d8749bdc3f",
        "type": "ui_button",
        "z": "0fe68850651df846",
        "name": "",
        "group": "c7eb00efaec834c3",
        "order": 14,
        "width": 4,
        "height": 3,
        "passthru": false,
        "label": "Increase Nutrient",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 320,
        "wires": [
            [
                "dbfbaa7d1cb7659c"
            ]
        ]
    },
    {
        "id": "3a7023d313fa15d9",
        "type": "ui_button",
        "z": "0fe68850651df846",
        "name": "",
        "group": "c7eb00efaec834c3",
        "order": 18,
        "width": 4,
        "height": 3,
        "passthru": false,
        "label": "Decrease Nutrient ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 440,
        "wires": [
            [
                "38dbb98105844820"
            ]
        ]
    },
    {
        "id": "56f423d38d62875b",
        "type": "mqtt out",
        "z": "0fe68850651df846",
        "name": "",
        "topic": "Hydroponic/pH_Up",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58bb7fb23410af76",
        "x": 1030,
        "y": 260,
        "wires": []
    },
    {
        "id": "dbfbaa7d1cb7659c",
        "type": "mqtt out",
        "z": "0fe68850651df846",
        "name": "",
        "topic": "Hydroponic/Nutrient_Up",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58bb7fb23410af76",
        "x": 1050,
        "y": 320,
        "wires": []
    },
    {
        "id": "f9a6009939264cbe",
        "type": "mqtt out",
        "z": "0fe68850651df846",
        "name": "",
        "topic": "Hydroponic/pH_Decrease",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58bb7fb23410af76",
        "x": 1050,
        "y": 380,
        "wires": []
    },
    {
        "id": "38dbb98105844820",
        "type": "mqtt out",
        "z": "0fe68850651df846",
        "name": "",
        "topic": "Hydroponic/Water_Up",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58bb7fb23410af76",
        "x": 1040,
        "y": 440,
        "wires": []
    }
]